.ui.card,
.ui.cards > .card {
  width: 100% !important;
}

.ui.segment {
  height: 100%;
  margin-right: 14px;
}

@media (max-width: 768px) {
  .ui.segment {
    margin-left: 14px;
  }
}

.ui.grid {
  padding-top: 1rem;
}

.ui.grid > .row > .column {
  padding: 0;
}

.large.image {
  display: flex;
  justify-content: center;
}
